{{> header }}

<div class="container">
  {{> flash }}

  <h2>Progress for {{users.schoolName}}</h2>

  <br>

  <div class="table table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Form Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>School Registration</td>
          <td>
            <a href="/dashboard/users/{{users.id}}">
              <button class="btn">Open</button>
            </a>
            <a href="/dashboard/users/edit/{{users.id}}">
              <button class="btn">Edit</button>
            </a>
            <a href="/dashboard/users/delete/{{users.id}}">
              <button class="btn user-btn-danger">Delete</button>
            </a>
          </td>
        </tr>
        <tr>
          <td>School Competition</td>
          <td>
            <a href="/dashboard/users/forms/competition-form/{{users.id}}">
              <button class="btn">Open</button>
            </a>
            {{#if user.admin}}
            <a href="/dashboard/users/forms/competition-form/edit/{{users.id}}">
              <button class="btn">Edit</button>
            </a>
            <a href="/dashboard/users/forms/competition-form/delete/{{users.id}}">
              <button class="btn user-btn-danger">Delete</button>
            </a>
            {{/if}}
          </td>
        </tr><tr>
          <td>Competition Results</td>
          <td>
            <a href="/dashboard/users/forms/competition-results/{{users.id}}">
              <button class="btn">Open</button>
            </a>
            {{#if user.admin}}
            <a href="/dashboard/users/forms/competition-results/edit/{{users.id}}">
              <button class="btn">Edit</button>
            </a>
            <a href="/dashboard/users/forms/competition-results/delete/{{users.id}}">
              <button class="btn user-btn-danger">Delete</button>
            </a>
            {{/if }}
          </td>
        </tr>
        <tr>
          <td>Poem Registration</td>
          <td>
            <a href="/dashboard/users/forms/poem-registrations/{{users.id}}">
              <button class="btn">Open</button>
            </a>
            <a href="/dashboard/users/forms/poem-registrations/edit/{{users.id}}">
              <button class="btn">Edit</button>
            </a>
            <a href="/dashboard/users/forms/poem-registrations/delete/{{users.id}}">
              <button class="btn user-btn-danger">Delete</button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{{> footer }}
