{{> header }}

<div class="container">
	<form>
		<h2>{{user.email}}'s profile</h2>

		{{# if errors}}
		<div class="alert alert-danger">
			{{#each errors}}
				<li>{{msg}}</li>
			{{/each}}
		</div>
		{{/if}}

		<p>
			<b>All fields with <span style="color: red">*</span> are required</b>
		</p>

		<div class="panel panel-default">
			<div class="panel-heading">
				School Information
			</div>

			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-12">
						<label for="schoolName">
							School Name <span style="color: red">*</span>
						</label>
						<input type="text" class="form-control" id="schoolName" name="schoolName" placeholder="Enter school name" value="{{user.schoolName}}" disabled>
					</div>

					<div class="form-group col-md-12">
						<label for="schoolAddress">
							School Address <span style="color: red">*</span>
						</label>
						<input type="text" class="form-control" id="schoolAddress" name="schoolAddress" placeholder="Enter your school's physical address" value="{{user.schoolAddress}}" disabled>
					</div>

					<div class="form-group col-md-12">
						<label for="inputAddress2">Address 2</label>
						<input type="text" class="form-control" id="inputAddress2" name="schoolAddress2" placeholder="Apartment, studio, or floor" value="{{user.schoolAddress2}}" disabled>
					</div>

					<div class="form-group col-md-6">
						<label for="city">
							City <span style="color: red">*</span>
						</label>
						<input type="text" class="form-control" id="city" name="city" placeholder="City" value="{{user.city}}" disabled>
					</div>

					<div class="form-group col-md-6">
						<label for="zip">
							Zip Code <span style="color: red">*</span>
						</label>
						<input type="text" class="form-control" id="zip" name="zipCode" placeholder="Zip Code" value="{{user.zipCode}}" disabled>
					</div>

					<div class="form-check col-md-12">
						<input type="checkbox" name="addressCheck" id="addressCheck" value="addressCheck" class="form-check-input" value="{{user.addressCheck}}" disabled>
						<label class="form-check-label" for="addressCheck">Check if the school's postal address is the same as the physical address</label>
					</div>

					<!-- This should be hidden if the box above has been checked -->
					<!-- Postal address, usually a P.O. Box -->
					<div class="postalAddress-fields">
						<div class="form-group col-md-12">
							<label for="postalAddress">Postal Address</label>
							<input type="text" class="form-control" id="postalAddress" name="postalAddress" placeholder="Enter your school's postal address" value="{{user.postalAddress}}" disabled>
						</div>

						<div class="form-group col-md-6">
							<label for="city2">City</label>
							<input type="text" class="form-control" id="city2" name="postalCity" placeholder="postalCity" value="{{user.postalCity}}" disabled>
						</div>

						<div class="form-group col-md-6">
							<label for="zip2">Zip Code</label>
							<input type="text" class="form-control" id="zip2" placeholder="Zip Code" value="{{user.postalZipCode}}" disabled>
						</div>
					</div>
					<!-- End of hidden fields -->

					<div class="form-group col-md-6">
						<label for="telephone">
							Telephone <span style="color: red">*</span>
						</label>
						<input type="text" class="form-control" id="telephone" name="telephone" placeholder="Enter your school's Telephone Number" value="{{user.telephone}}" disabled>
					</div>

					<div class="form-group col-md-6">
						<label for="fax">Fax</label>
						<input type="text" class="form-control" id="fax" name="fax" placeholder="Enter your school's Fax Number" value="{{user.fax}}" disabled>
					</div>

					<div class="form-group col-md-6">
						<label for="exampleFormControlInput1">
							School's Email Address <span style="color: red">*</span>
						</label>
						<input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com" value="{{user.email}}" disabled>
						<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					</div>

					<div class="form-group col-md-6">
						<label for="exampleInputPassword1">
							Password <span style="color: red">*</span>
						</label>
						<input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" value="{{user.password}}" disabled>
					</div>
				</div><!-- row ends -->
			</div><!-- End of panel body -->
		</div><!-- School Information panel ends -->

		<!-- Other School Information -->
		<div class="panel panel-default">
			<div class="panel-heading">
				Other School Information
			</div><!-- Panel heading ends -->

			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-6">
						<label for="schoolType">
							Type of School <span style="color: red">*</span>
						</label>
						<select class="form-control" id="schoolType" name="schoolType" disabled>
							<option value="none" {{{select user.schoolType 'none'}}}>None</option>
							<option value="public" {{{select user.schoolType 'public'}}}>Public</option>
							<option value="private" {{{select user.schoolType 'private'}}}>Private</option>
							<option value="homeSchool" {{{select user.schoolType 'homeSchool'}}}>Home School</option>
						</select>
					</div>

					<!-- If Public is selected than the following fields become VISIBLE, otherwise they stay hidden -->
					<div class="schoolInformation-fields" style="display:none">
						<div class="form-group col-md-6">
							<label for="districtControlSelect">School District</label>
							<select class="form-control" id="districtControlSelect" name="schoolDistrict" disabled>
								<option value="none" {{{select user.schoolDistrict 'none'}}}>None</option>
								<option value="aguadilla" {{{select user.schoolDistrict 'aguadilla'}}}>Aguadilla</option>
								<option value="arecibo" {{{select user.schoolDistrict 'arecibo'}}}>Arecibo</option>
								<option value="barranquitas" {{{select user.schoolDistrict 'barranquitas'}}}>Barranquitas</option>
								<option value="bayamon" {{{select user.schoolDistrict 'bayamon'}}}>Bayamón</option>
								<option value="caboRojo" {{{select user.schoolDistrict 'caboRojo'}}}>Cabo Rojo</option>
								<option value="camuy" {{{select user.schoolDistrict 'camuy'}}}>Camuy</option>
								<option value="canovanas" {{{select user.schoolDistrict 'canovanas'}}}>Canóvanas</option>
								<option value="carolina" {{{select user.schoolDistrict 'carolina'}}}>Carolina</option>
								<option value="cidra" {{{select user.schoolDistrict 'cidra'}}}>Cidra</option>
								<option value="fajardo" {{{select user.schoolDistrict 'fajardo'}}}>Fajardo</option>
								<option value="guayama" {{{select user.schoolDistrict 'guayama'}}}>Guayama</option>
								<option value="guaynabo" {{{select user.schoolDistrict 'guaynabo'}}}>Guaynabo</option>
								<option value="gurabo" {{{select user.schoolDistrict 'gurabo'}}}>Gurabo</option>
								<option value="lasPiedras" {{{select user.schoolDistrict 'lasPiedras'}}}>Las Piedras</option>
								<option value="manati" {{{select user.schoolDistrict 'manati'}}}>Manatí</option>
								<option value="mayaguez" {{{select user.schoolDistrict 'mayaguez'}}}>Mayagüez</option>
								<option value="naranjito" {{{select user.schoolDistrict 'naranjito'}}}>Naranjito</option>
								<option value="orocovis" {{{select user.schoolDistrict 'orocovis'}}}>Orocovis</option>
								<option value="ponce" {{{select user.schoolDistrict 'ponce'}}}>Ponce</option>
								<option value="santaIsabel" {{{select user.schoolDistrict 'santaIsabel'}}}>Santa Isabel</option>
								<option value="sanJan1" {{{select user.schoolDistrict 'sanJan1'}}}>San Juan 1</option>
								<option value="sanJan2" {{{select user.schoolDistrict 'sanJan2'}}}>San Juan 2</option>
								<option value="sanSebastian" {{{select user.schoolDistrict 'sanSebastian'}}}>San Sebastián</option>
								<option value="toaBajas" {{{select user.schoolDistrict 'toaBajas'}}}>Toa Baja</option>
								<option value="utuado" {{{select user.schoolDistrict 'utuado'}}}>Utuado</option>
								<option value="vegaAlta" {{{select user.schoolDistrict 'vegaAlta'}}}>Vega Alta</option>
								<option value="yabucoa" {{{select user.schoolDistrict 'yabucoa'}}}>Yabucoa</option>
								<option value="yauco" {{{select user.schoolDistrict 'yauco'}}}>Yauco</option>
							</select>
						</div>

						<div class="form-group col-md-6">
							<label for="regionControlSelect">School Region</label>
							<select class="form-control" id="regionControlSelect" name="schoolRegion" disabled>
								<option value="none" {{{select user.schoolRegion 'none'}}}>None</option>
								<option value="arecibo" {{{select user.schoolRegion 'arecibo'}}}>Arecibo</option>
								<option value="bayamon" {{{select user.schoolRegion 'bayamon'}}}>Bayamón</option>
								<option value="caguas" {{{select user.schoolRegion 'caguas'}}}>Caguas</option>
								<option value="humacao" {{{select user.schoolRegion 'humacao'}}}>Humacao</option>
								<option value="mayaguez" {{{select user.schoolRegion 'mayaguez'}}}>Mayagüez</option>
								<option value="ponce" {{{select user.schoolRegion 'ponce'}}}>Ponce</option>
								<option value="sanJuan" {{{select user.schoolRegion 'sanJuan'}}}>San Juan</option>
							</select>
						</div>
					</div>
					<!-- End of hidden fields -->

					<div class="form-group col-md-6">
						<label for="curriculumControlSelect">Curriculum</label>
						<select class="form-control" id="curriculumControlSelect" name="curriculum" disabled>
							<option value="englishAsASecondLanguage" {{{select user.curriculum 'englishAsASecondLanguage'}}}>English as a second language</option>
							<option value="englishAsAMainLanguage" {{{select user.curriculum 'englishAsAMainLanguage'}}}>English as a main language</option>
							<option value="bilingual" {{{select user.curriculum 'bilingual'}}}>Bilingual</option>
							<option value="other" {{{select user.curriculum 'other'}}}>Other</option>
						</select>
					</div>

					<p class="col-md-12">Has your school participated in previous years?</p>

					<div class="col-md-12">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="participationRadio" id="yesRadio" value="yes" checked value="{{user.participationBefore}}">
							<label class="form-check-label" for="yesRadio">
								Yes
							</label>
						</div>

						<div class="form-check">
							<input class="form-check-input" type="radio" name="participationRadio" id="noRadio" value="no" value="{{user.participationBefore}}">
							<label class="form-check-label" for="noRadio">
								No
							</label>
						</div>
					</div>

					<div class="participationYears-field">
						<div class="form-group col-md-6">
							<label for="years">How many years participating?</label>
							<input type="text" class="form-control" id="years" placeholder="If your previous answer is YES, enter the number of years" name="participationYears" value="{{user.participationYears}}" disabled>
						</div>
					</div>
				</div><!-- form-row ends -->
			</div><!-- Panel body -->
		</div><!-- Other School panel ends -->

		<!-- School Director information -->
		<div class="panel panel-default">
			<div class="panel-heading">
				School Director Information
			</div>

			<div class="panel-body">
				<div class="form-group">
					<label for="directorName">
						Director's Name <span style="color: red">*</span>
					</label>
					<input type="text" class="form-control" id="directorName" placeholder="Enter the School Director's Name" name="directorName" value="{{user.directorName}}" disabled>
				</div>

				<div class="form-group">
					<label for="telephone2">
						Telephone <span style="color: red">*</span>
					</label>
					<input type="text" class="form-control" id="telephone2" placeholder="Enter your school director's Telephone Number" name="directorTelephone" value="{{user.directorTelephone}}" disabled>
				</div>

				<div class="form-group">
					<label for="directorEmail">
						Email address <span style="color: red">*</span>
					</label>
					<input type="email" class="form-control" id="directorEmail" placeholder="director@example.com" name="directorEmail" value="{{user.directorEmail}}" disabled>
				</div>
			</div><!-- panel body ends -->
		</div><!-- panel -->

		<!-- School Representative (Liaison) Info -->
		<div class="panel panel-default">
			<div class="panel-heading">
				School Representative
			</div>

			<div class="panel-body">
				<div class="form-group">
					<label for="liaison">
						Representative's Name <span style="color: red">*</span>
					</label>
					<input type="text" class="form-control" id="liaison" placeholder="Enter the school representative's Name" name="schoolRepresentativeName" value="{{user.schoolRepresentativeName}}" disabled>
				</div>

				<div class="form-group">
					<label for="telephone3">
						Telephone <span style="color: red">*</span>
					</label>
					<input type="text" class="form-control" id="telephone3" placeholder="Enter your school representative's telephone number" name="schoolRepresentativeTelephone" value="{{user.schoolRepresentativeTelephone}}" disabled>
				</div>

				<div class="form-group">
					<label for="liaisonEmail">
						Email address <span style="color: red">*</span>
					</label>
					<input type="email" class="form-control" id="liaisonEmail" placeholder="rep@example.com" name="schoolRepresentativeEmail" value="{{user.schoolRepresentativeEmail}}" disabled>
				</div>

				<div class="form-group">
					<label for="positionControlSelect">Position</label>
					<select class="form-control" id="positionControlSelect" name="schoolRepresentativePosition" disabled>
						<option value="teacher" {{{select user.schoolRepresentativePosition 'teacher'}}}>Teacher</option>
						<option value="intern" {{{select user.schoolRepresentativePosition 'intern'}}}>Intern</option>
						<option value="coordinator" {{{select user.schoolRepresentativePosition 'coordinator'}}}>Coordinator</option>
						<option value="facilitator" {{{select user.schoolRepresentativePosition 'facilitator'}}}>Facilitator</option>
						<option value="director" {{{select user.schoolRepresentativePosition 'director'}}}>Director</option>
						<option value="other" {{{select user.schoolRepresentativePosition 'other'}}}>Other</option>
					</select>
				</div>

				<p>If other, specify position</p>

				<div class="form-group">
					<label for="otherPosition">"Other" position</label>
					<input type="text" class="form-control" id="otherPosition" placeholder="If other, specify the position" name="schoolRepresentativeOtherPosition" value="{{user.schoolRepresentativeOtherPosition}}" disabled>
				</div>

				<div class="form-group">
					<label for="sizeControlSelect">T-shirt Size</label>
					<select class="form-control" id="sizeControlSelect" name="schoolRepresentativeTShirt" disabled>
						<option value="small" {{{select user.schoolRepresentativeTShirt 'small'}}}>Small</option>
						<option value="medium" {{{select user.schoolRepresentativeTShirt 'medium'}}}>Medium</option>
						<option value="large" {{{select user.schoolRepresentativeTShirt 'large'}}}>Large</option>
						<option value="xLarge" {{{select user.schoolRepresentativeTShirt 'xLarge'}}}>X-Large</option>
					</select>
				</div>

				<div class="form-group">
					<label for="mentorControlSelect">Poet Tutor/Mentor</label>
					<select class="form-control" id="mentorControlSelect" name="schoolRepresentativeTutorMentor" disabled>
						<option value="none" {{{select user.schoolRepresentativeTutorMentor 'none'}}}>None</option>
						<option value="ketsiaRamos" {{{select user.schoolRepresentativeTutorMentor 'ketsiaRamos'}}}>Ketsia Ramos</option>
						<option value="christianDiaz" {{{select user.schoolRepresentativeTutorMentor 'christianDiaz'}}}>Christian Díaz</option>
						<option value="geronimoRobainaLopez" {{{select user.schoolRepresentativeTutorMentor 'geronimoRobainaLopez'}}}>Gerónimo Robaina López</option>
						<option value="jacquelineJiang" {{{select user.schoolRepresentativeTutorMentor 'jacquelineJiang'}}}>Jacqueline Jiang</option>
						<option value="maraPastor" {{{select user.schoolRepresentativeTutorMentor 'maraPastor'}}}>Mara Pastor</option>
						<option value="nivialisToro" {{{select user.schoolRepresentativeTutorMentor 'nivialisToro'}}}>Nivialis Toro</option>
						<option value="penelopeNCuyarBordas" {{{select user.schoolRepresentativeTutorMentor 'penelopeNCuyarBordas'}}}>Penélope N. Cuyar Bordas</option>
						<option value="rubenDuranMorales" {{{select user.schoolRepresentativeTutorMentor 'rubenDuranMorales'}}}>Rubén Durán Morales</option>
						<option value="luciaZoeMartinez" {{{select user.schoolRepresentativeTutorMentor 'luciaZoeMartinez'}}}>Lucía Zoé Martínez</option>
					</select>
				</div>
			</div>
		</div>
	</form>
</div>

{{> footer }}
