{{> header }}

<div class="container">
	<form>
		<h2>{{users.email}}'s profile</h2>

		{{# if errors}}
		<div class="alert alert-danger">
			{{#each errors}}
				<li>{{msg}}</li>
			{{/each}}
		</div>
		{{/if}}

		<p>
			<b>All fields with <span style="color: red">*</span> are required</b>
		</p>

		<div class="panel panel-default">
			<div class="panel-heading">
				School Information
			</div>

			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-12">
						<label for="schoolName">
							School Name <span style="color: red">*</span>
						</label>
						<input type="text" class="form-control" id="schoolName" name="schoolName" placeholder="Enter school name" value="{{users.schoolName}}" disabled>
					</div>

					<div class="form-group col-md-12">
						<label for="schoolAddress">
							School Address <span style="color: red">*</span>
						</label>
						<input type="text" class="form-control" id="schoolAddress" name="schoolAddress" placeholder="Enter your school's physical address" value="{{users.schoolAddress}}" disabled>
					</div>

					<div class="form-group col-md-12">
						<label for="inputAddress2">Address 2</label>
						<input type="text" class="form-control" id="inputAddress2" name="schoolAddress2" placeholder="Apartment, studio, or floor" value="{{users.schoolAddress2}}" disabled>
					</div>

					<div class="form-group col-md-6">
						<label for="city">
							City <span style="color: red">*</span>
						</label>
						<input type="text" class="form-control" id="city" name="city" placeholder="City" value="{{users.city}}" disabled>
					</div>

					<div class="form-group col-md-6">
						<label for="zip">
							Zip Code <span style="color: red">*</span>
						</label>
						<input type="text" class="form-control" id="zip" name="zipCode" placeholder="Zip Code" value="{{users.zipCode}}" disabled>
					</div>

					<div class="form-check col-md-12">
						<input type="checkbox" name="addressCheck" id="addressCheck" value="addressCheck" class="form-check-input" value="{{users.addressCheck}}" disabled>
						<label class="form-check-label" for="addressCheck">Check if the school's postal address is the same as the physical address</label>
					</div>

					<!-- This should be hidden if the box above has been checked -->
					<!-- Postal address, usually a P.O. Box -->
					<div class="postalAddress-fields">
						<div class="form-group col-md-12">
							<label for="postalAddress">Postal Address</label>
							<input type="text" class="form-control" id="postalAddress" name="postalAddress" placeholder="Enter your school's postal address" value="{{users.postalAddress}}" disabled>
						</div>

						<div class="form-group col-md-6">
							<label for="city2">City</label>
							<input type="text" class="form-control" id="city2" name="postalCity" placeholder="postalCity" value="{{users.postalCity}}" disabled>
						</div>

						<div class="form-group col-md-6">
							<label for="zip2">Zip Code</label>
							<input type="text" class="form-control" id="zip2" placeholder="Zip Code" value="{{users.postalZipCode}}" disabled>
						</div>
					</div>
					<!-- End of hidden fields -->

					<div class="form-group col-md-6">
						<label for="telephone">
							Telephone <span style="color: red">*</span>
						</label>
						<input type="text" class="form-control" id="telephone" name="telephone" placeholder="Enter your school's Telephone Number" value="{{users.telephone}}" disabled>
					</div>

					<div class="form-group col-md-6">
						<label for="fax">Fax</label>
						<input type="text" class="form-control" id="fax" name="fax" placeholder="Enter your school's Fax Number" value="{{users.fax}}" disabled>
					</div>

					<div class="form-group col-md-6">
						<label for="exampleFormControlInput1">
							School's Email Address <span style="color: red">*</span>
						</label>
						<input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com" value="{{users.email}}" disabled>
						<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					</div>

					<div class="form-group col-md-6">
						<label for="exampleInputPassword1">
							Password <span style="color: red">*</span>
						</label>
						<input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" value="{{users.password}}" disabled>
					</div>
				</div><!-- row ends -->
			</div><!-- End of panel body -->
		</div><!-- School Information panel ends -->

		<!-- Other School Information -->
		<div class="panel panel-default">
			<div class="panel-heading">
				Other School Information
			</div><!-- Panel heading ends -->

			<div class="panel-body">
				<div class="row">
					<div class="form-group col-md-6">
						<label for="schoolType">
							Type of School <span style="color: red">*</span>
						</label>
						<select class="form-control" id="schoolType" name="schoolType" disabled>
							<option value="none" {{{select users.schoolType 'none'}}}>None</option>
							<option value="public" {{{select users.schoolType 'public'}}}>Public</option>
							<option value="private" {{{select users.schoolType 'private'}}}>Private</option>
							<option value="homeSchool" {{{select users.schoolType 'homeSchool'}}}>Home School</option>
						</select>
					</div>

					<!-- If Public is selected than the following fields become VISIBLE, otherwise they stay hidden -->
					<div class="schoolInformation-fields" style="display:none">
						<div class="form-group col-md-6">
							<label for="districtControlSelect">School District</label>
							<select class="form-control" id="districtControlSelect" name="schoolDistrict" disabled>
								<option value="none" {{{select users.schoolDistrict 'none'}}}>None</option>
								<option value="Aguadilla" {{{select users.schoolDistrict 'Aguadilla'}}}>Aguadilla</option>
								<option value="Arecibo" {{{select users.schoolDistrict 'Arecibo'}}}>Arecibo</option>
								<option value="Barranquitas" {{{select users.schoolDistrict 'Barranquitas'}}}>Barranquitas</option>
								<option value="Bayamon" {{{select users.schoolDistrict 'Bayamon'}}}>Bayamón</option>
								<option value="Cabo Rojo" {{{select users.schoolDistrict 'Cabo Rojo'}}}>Cabo Rojo</option>
								<option value="Camuy" {{{select users.schoolDistrict 'Camuy'}}}>Camuy</option>
								<option value="Canovanas" {{{select users.schoolDistrict 'Canovanas'}}}>Canóvanas</option>
								<option value="Carolina" {{{select users.schoolDistrict 'Carolina'}}}>Carolina</option>
								<option value="Cidra" {{{select users.schoolDistrict 'Cidra'}}}>Cidra</option>
								<option value="Fajardo" {{{select users.schoolDistrict 'Fajardo'}}}>Fajardo</option>
								<option value="Guayama" {{{select users.schoolDistrict 'Guayama'}}}>Guayama</option>
								<option value="Guaynabo" {{{select users.schoolDistrict 'Guaynabo'}}}>Guaynabo</option>
								<option value="Gurabo" {{{select users.schoolDistrict 'Gurabo'}}}>Gurabo</option>
								<option value="Las Piedras" {{{select users.schoolDistrict 'Las Piedras'}}}>Las Piedras</option>
								<option value="Manati" {{{select users.schoolDistrict 'Manati'}}}>Manatí</option>
								<option value="Mayagüez" {{{select users.schoolDistrict 'Mayagüez'}}}>Mayagüez</option>
								<option value="Naranjito" {{{select users.schoolDistrict 'Naranjito'}}}>Naranjito</option>
								<option value="Orocovis" {{{select users.schoolDistrict 'Orocovis'}}}>Orocovis</option>
								<option value="Ponce" {{{select users.schoolDistrict 'Ponce'}}}>Ponce</option>
								<option value="Santa Isabel" {{{select users.schoolDistrict 'Santa Isabel'}}}>Santa Isabel</option>
								<option value="San Jan 1" {{{select users.schoolDistrict 'San Jan 1'}}}>San Juan 1</option>
								<option value="San Jan 2" {{{select users.schoolDistrict 'San Jan 2'}}}>San Juan 2</option>
								<option value="San Sebastian" {{{select users.schoolDistrict 'San Sebastian'}}}>San Sebastián</option>
								<option value="Toa Bajas" {{{select users.schoolDistrict 'Toa Bajas'}}}>Toa Baja</option>
								<option value="Utuado" {{{select users.schoolDistrict 'Utuado'}}}>Utuado</option>
								<option value="Vega Alta" {{{select users.schoolDistrict 'Vega Alta'}}}>Vega Alta</option>
								<option value="Yabucoa" {{{select users.schoolDistrict 'Yabucoa'}}}>Yabucoa</option>
								<option value="Yauco" {{{select users.schoolDistrict 'Yauco'}}}>Yauco</option>
							</select>
						</div>

						<div class="form-group col-md-6">
							<label for="regionControlSelect">School Region</label>
							<select class="form-control" id="regionControlSelect" name="schoolRegion" disabled>
								<option value="none" {{{select users.schoolRegion 'none'}}}>None</option>
								<option value="Arecibo" {{{select users.schoolRegion 'Arecibo'}}}>Arecibo</option>
								<option value="Bayamon" {{{select users.schoolRegion 'Bayamon'}}}>Bayamón</option>
								<option value="Caguas" {{{select users.schoolRegion 'Caguas'}}}>Caguas</option>
								<option value="Humacao" {{{select users.schoolRegion 'Humacao'}}}>Humacao</option>
								<option value="Mayagüez" {{{select users.schoolRegion 'Mayagüez'}}}>Mayagüez</option>
								<option value="Ponce" {{{select users.schoolRegion 'Ponce'}}}>Ponce</option>
								<option value="San Juan" {{{select users.schoolRegion 'San Juan'}}}>San Juan</option>
							</select>
						</div>
					</div>
					<!-- End of hidden fields -->

					<div class="form-group col-md-6">
						<label for="curriculumControlSelect">Curriculum</label>
						<select class="form-control" id="curriculumControlSelect" name="curriculum" disabled>
							<option value="englishAsASecondLanguage" {{{select users.curriculum 'englishAsASecondLanguage'}}}>English as a second language</option>
							<option value="englishAsAMainLanguage" {{{select users.curriculum 'englishAsAMainLanguage'}}}>English as a main language</option>
							<option value="bilingual" {{{select users.curriculum 'bilingual'}}}>Bilingual</option>
							<option value="other" {{{select users.curriculum 'other'}}}>Other</option>
						</select>
					</div>

					<p class="col-md-12">Has your school participated in previous years?</p>

					<div class="col-md-12">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="participationRadio" id="yesRadio" value="yes" checked value="{{users.participationBefore}}">
							<label class="form-check-label" for="yesRadio">
								Yes
							</label>
						</div>

						<div class="form-check">
							<input class="form-check-input" type="radio" name="participationRadio" id="noRadio" value="no" value="{{users.participationBefore}}">
							<label class="form-check-label" for="noRadio">
								No
							</label>
						</div>
					</div>

					<div class="participationYears-field">
						<div class="form-group col-md-6">
							<label for="years">How many years participating?</label>
							<input type="text" class="form-control" id="years" placeholder="If your previous answer is YES, enter the number of years" name="participationYears" value="{{users.participationYears}}" disabled>
						</div>
					</div>
				</div><!-- form-row ends -->
			</div><!-- Panel body -->
		</div><!-- Other School panel ends -->

		<!-- School Director information -->
		<div class="panel panel-default">
			<div class="panel-heading">
				School Director Information
			</div>

			<div class="panel-body">
				<div class="form-group">
					<label for="directorName">
						Director's Name <span style="color: red">*</span>
					</label>
					<input type="text" class="form-control" id="directorName" placeholder="Enter the School Director's Name" name="directorName" value="{{users.directorName}}" disabled>
				</div>

				<div class="form-group">
					<label for="telephone2">
						Telephone <span style="color: red">*</span>
					</label>
					<input type="text" class="form-control" id="telephone2" placeholder="Enter your school director's Telephone Number" name="directorTelephone" value="{{users.directorTelephone}}" disabled>
				</div>

				<div class="form-group">
					<label for="directorEmail">
						Email address <span style="color: red">*</span>
					</label>
					<input type="email" class="form-control" id="directorEmail" placeholder="director@example.com" name="directorEmail" value="{{users.directorEmail}}" disabled>
				</div>
			</div><!-- panel body ends -->
		</div><!-- panel -->

		<!-- School Representative (Liaison) Info -->
		<div class="panel panel-default">
			<div class="panel-heading">
				School Representative
			</div>

			<div class="panel-body">
				<div class="form-group">
					<label for="liaison">
						Representative's Name <span style="color: red">*</span>
					</label>
					<input type="text" class="form-control" id="liaison" placeholder="Enter the school representative's Name" name="schoolRepresentativeName" value="{{users.schoolRepresentativeName}}" disabled>
				</div>

				<div class="form-group">
					<label for="telephone3">
						Telephone <span style="color: red">*</span>
					</label>
					<input type="text" class="form-control" id="telephone3" placeholder="Enter your school representative's telephone number" name="schoolRepresentativeTelephone" value="{{users.schoolRepresentativeTelephone}}" disabled>
				</div>

				<div class="form-group">
					<label for="liaisonEmail">
						Email address <span style="color: red">*</span>
					</label>
					<input type="email" class="form-control" id="liaisonEmail" placeholder="rep@example.com" name="schoolRepresentativeEmail" value="{{users.schoolRepresentativeEmail}}" disabled>
				</div>

				<div class="form-group">
					<label for="positionControlSelect">Position</label>
					<select class="form-control" id="positionControlSelect" name="schoolRepresentativePosition" disabled>
						<option value="teacher" {{{select users.schoolRepresentativePosition 'teacher'}}}>Teacher</option>
						<option value="intern" {{{select users.schoolRepresentativePosition 'intern'}}}>Intern</option>
						<option value="coordinator" {{{select users.schoolRepresentativePosition 'coordinator'}}}>Coordinator</option>
						<option value="facilitator" {{{select users.schoolRepresentativePosition 'facilitator'}}}>Facilitator</option>
						<option value="director" {{{select users.schoolRepresentativePosition 'director'}}}>Director</option>
						<option value="other" {{{select users.schoolRepresentativePosition 'other'}}}>Other</option>
					</select>
				</div>

				<p>If other, specify position</p>

				<div class="form-group">
					<label for="otherPosition">"Other" position</label>
					<input type="text" class="form-control" id="otherPosition" placeholder="If other, specify the position" name="schoolRepresentativeOtherPosition" value="{{users.schoolRepresentativeOtherPosition}}" disabled>
				</div>

				<div class="form-group">
					<label for="sizeControlSelect">T-shirt Size</label>
					<select class="form-control" id="sizeControlSelect" name="schoolRepresentativeTShirt" disabled>
						<option value="small" {{{select users.schoolRepresentativeTShirt 'small'}}}>Small</option>
						<option value="medium" {{{select users.schoolRepresentativeTShirt 'medium'}}}>Medium</option>
						<option value="large" {{{select users.schoolRepresentativeTShirt 'large'}}}>Large</option>
						<option value="xLarge" {{{select users.schoolRepresentativeTShirt 'xLarge'}}}>X-Large</option>
					</select>
				</div>

				<div class="form-group">
					<label for="mentorControlSelect">Poet Tutor/Mentor</label>
					<select class="form-control" id="mentorControlSelect" name="schoolRepresentativeTutorMentor">
						<option value="none" {{{select users.schoolRepresentativeTutorMentor 'none'}}}>None</option>
						<option value="Ketsia Ramos" {{{select users.schoolRepresentativeTutorMentor 'Ketsia Ramos'}}}>Ketsia Ramos</option>
						<option value="Christian Diaz" {{{select users.schoolRepresentativeTutorMentor 'Christian Diaz'}}}>Christian Díaz</option>
						<option value="Gerónimo Robaina López" {{{select users.schoolRepresentativeTutorMentor 'Geronimo Robaina Lopez'}}}>Gerónimo Robaina López</option>
						<option value="Jacqueline Jiang" {{{select users.schoolRepresentativeTutorMentor 'Jacqueline Jiang'}}}>Jacqueline Jiang</option>
						<option value="Mara Pastor" {{{select users.schoolRepresentativeTutorMentor 'Mara Pastor'}}}>Mara Pastor</option>
						<option value="Nivialis Toro" {{{select users.schoolRepresentativeTutorMentor 'Nivialis Toro'}}}>Nivialis Toro</option>
						<option value="Penelope N. Cuyar Bordas" {{{select users.schoolRepresentativeTutorMentor 'Penelope N. Cuyar Bordas'}}}>Penélope N. Cuyar Bordas</option>
						<option value="Rubén Durán Morales" {{{select users.schoolRepresentativeTutorMentor 'Rubén Durán Morales'}}}>Rubén Durán Morales</option>
						<option value="lucia Zoé Martinez" {{{select users.schoolRepresentativeTutorMentor 'Lucia Zoé Martinez'}}}>Lucía Zoé Martínez</option>
					</select>
				</div>
			</div>
		</div>
	</form>
</div>

{{> footer }}
